pkgbase = ruby-rake
	pkgdesc = Make-like build tool implemented in Ruby
	pkgver = 13.0.6
	pkgrel = 3
	url = https://ruby.github.io/rake/
	arch = any
	license = MIT
	depends = ruby
	provides = rake
	noextract = rake-13.0.6.gem
	options = !emptydirs
	source = https://rubygems.org/downloads/rake-13.0.6.gem
	sha512sums = 9dbcd1ef4d93f4853b3da40b29890509bb260e13e5500f5a0502645ce762d6e50ee7dd6bd59d08d135868dab579e10344920ba246079cde7048e3510bd473ea2

pkgname = ruby-rake
